@section bar
{
    <section class="bg-primary">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="#">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Erişim Engellendi
                    </li>
                </ol>
            </nav>
        </div>
    </section>
}

<div class="alert alert-danger">Böyle bir Yetkiye Sahip Değilsiniz</div>