<footer class="mt-3 py-4 bg-primary">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-6 col-lg-4">
                <form asp-controller="Complaint" asp-action="Submit" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Düşünceleriniz Önemli" name="description">
                        <button type="submit" class="btn btn-outline-warning">Şikayet Bildir</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-lg-8">
                <nav class="text-center text-md-end">
                    <a href="https://www.linkedin.com/in/ferhat-kaymaz-7b0242297/"
                        class="btn btn-icon btn-outline-warning" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2X"></i>
                    </a>
                    <a href="https://www.instagram.com/ferhat_kymz56/" class="btn btn-icon btn-outline-warning"
                        target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://github.com/ferhatkymz" class="btn btn-icon btn-outline-warning" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-warning" data-bs-toggle="tooltip"
                        data-bs-title="ferhat56kaymaz@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </nav>
            </div>
            <div class="col-12">
                <p class="text-center text-md-start text-white">
                    2026 Tüm hakları saklıdır.
                </p>
            </div>
        </div>
    </div>
</footer>
