@model User
@{
    Layout = "_AdminLayout";
}

<div id="center-container">

    <div class="text-center">
        <p class="card-text "> @Model.UserName adlı kullanıcıyı Silmek istediğinize Emin misiniz?
        </p>
        <form asp-controller="User" asp-action="DeleteConfirm" method="post">
            <input type="hidden" name="id" value="@Model.Id">
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-success">Evet</button>
                <a asp-asp-controller="User" asp-action="Index" class="btn btn-danger">Hayır</a>
            </div>
        </form>
    </div>
</div>
